@import 'tailwindcss';
@import 'tw-animate-css';
@import 'maplibre-gl/dist/maplibre-gl.css';

@source "../../../../packages/ui";

@plugin 'daisyui';

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/inter-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/inter-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter-700italic.woff2') format('woff2');
}

@theme static {
  --font-sans: 'Inter', sans-serif;
}

@plugin "daisyui" {
  themes: dark, light;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(43% 0.078 188.216);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(45% 0.085 224.283);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-sidebar: hsl(240 5.9% 10%);
  --color-sidebar-background: hsl(240 5.9% 10%);
  --color-sidebar-foreground: hsl(240 4.8% 95.9%);
  --color-sidebar-primary: hsl(224.3 76.3% 48%);
  --color-sidebar-primary-foreground: hsl(0 0% 100%);
  --color-sidebar-accent: hsl(240 3.7% 15.9%);
  --color-sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --color-sidebar-border: hsl(240 3.7% 15.9%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(43% 0.078 188.216);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(45% 0.085 224.283);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(50% 0.118 165.612);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-sidebar: hsl(0 0% 98%);
  --color-sidebar-background: hsl(0 0% 98%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-foreground: hsl(0 0% 98%);
  --color-sidebar-accent: hsl(240 4.8% 95.9%);
  --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* JSON Forms */
.control > .wrapper > input,
.control > .wrapper > select,
.control > .wrapper > textarea {
  flex: 1;
}

.array-list-item-content.expanded {
  display: block;
}

/* PullToRefresh */
.v-pull-to-refresh {
  overflow: hidden;
  position: relative;
}

.v-pull-to-refresh__pull-down {
  position: absolute;
  width: 100%;
  transition: top 0.3s ease-out;
}

.v-pull-to-refresh__pull-down--touching {
  transition: none;
}

.v-pull-to-refresh__pull-down-default {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.v-pull-to-refresh__scroll-container {
  position: relative;
  transition: top 0.3s ease-out;
}

.v-pull-to-refresh__scroll-container--touching {
  transition: none;
}
